.dps #home h2 {
	display: block;
	margin: -232px 0 190px 234px;
	font-size: 24pt;
}

.dps #instructions h1 {
	/*font-size: 12px;*/
}

.dps #home h1,
.dps #instructions h2 {
	font-size: 16px;
}

.dps #instructions h3 {
	font-size: 14px;
}

.dps #instructions b {
	float: left;
	font-size: 14px;
	margin-right: 10px;
}

.dps #instructions h3 {
	float: left;
	margin-top: 0px;
	max-width: 850px;
}

.dps #instructions ol {
	clear: both;
}